/* Enter your custom styles here */

.cutomRequired .sapMLabelColonAndRequired::after {
    content: "*";
    color: #ba066c;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
    line-height: 0;
    margin-left: 0.125rem;
}

.bldTxtChld{
    font-weight: bold;
    font-size:.9rem;
}
 


/* .emailHbox .sapMFlexItem{
    width: 80% !important;
} */